html {
  background-color: black;
}

#wholepage {
  width: 1080px;
  margin: 0 auto;
  font-family: Space Grotesk, sans-serif;

}

p {
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  width: 96.65%;
  text-align: justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;

}

h1 {
  font-size: 50px;
  width:800px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;
  font-family: "Russo One", sans-serif;
  text-shadow: 3px 3px 3px #07101c;
}



h2 {
    font-size: 30px;
    width:500px;
    color: #16c2d5;
    margin:0 auto;
    text-align: center;
    text-shadow: 3px 3px 3px #07101c;
  }



h3 {
  padding-top: 10px;
  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;
  text-shadow: 3px 3px 3px #07101c;

}

h4 {
  width: 100%;
  text-align: center;

}

/*button*/
button {
  background-color: #333;
  border-color: #16c2d5;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Russo One", sans-serif;
  font-size: 1.5rem;

  position: relative;
  top: 60px;
  left: 108px;
  margin: 0 auto;

}

.ebutton {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: none;
  left: 0px;
  z-index: 100;

}

.ebutton-content {
  width: 600px;
  height: 0 auto;
  background-color: #373F51;
  padding: 15px 20px;
  border: 10px solid black;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  border-style: groove;
  border-color: #16c2d5;
}

.ebutton-content h1 {
  width: 600px;
  margin: 0 auto;
  position:relative;
  bottom: 20px;
}

.ebutton-content h2 {
  width: 600px;
  margin: 0 auto;
  color: red;
}

.closebutton {
  position: relative;
  left: 580px;
  bottom: 20px;
  font-size: 3rem;
  cursor: pointer;
  color: #d10016;
}

/*Button css ends here, index.html Starts below*/
a {
  color: #16c2d5;
  text-decoration: none;
  text-shadow: 3px 3px 3px #07101c;
}

a:hover {
  color: #00f06e;
}

a:before {
  content: '';
  display: block;
  background-color: #00f06e;
}

.container {
  width:80%;
  margin: 0x auto;

}


header {
  width: 98.5%;
  text-align: center;
  border-color: #16c2d5;
  border-width: 5px 10px;
  border-style: solid;
  background: #373F51;
  max-height: 220px;
  border-bottom: 5px;

}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float:right;
  padding: 10px;
  position: relative;
  left: 210px;

}
.logo2{
  float:left;
  padding: 10px;
  position: relative;
  top: 10px;
  }


.content-body {
  text-align: center;
  color: white;
  width: 98.5%;
  background-color: #373F51;
  border: 10px solid;
  border-color: #16c2d5;
  border-bottom: -5px;
  margin-bottom: -5px;
  margin-top: 225px;

}

.navfixed {
  position: fixed;
  top:0;
  width: 92.5%;
  z-index: 10;
}


/*PLANS AND PROGRESS HTML BELOW THIS POINT*/



#maintitle h2 {
  text-align: center;
}

#teamprofile {
  border-top: 0px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
  padding: 20px;
}

#individualprofiles {
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
  padding: 20px;

}

.profilemain {
  display: inline-block;
  text-align: center;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
  padding: 40px 10px;
}


.profilemain p {
  padding: 20px 10px;
  display: flex;
  text-align: justify;
}

.profilemain li {
  width: 80%;
  text-align: left;
  position: relative;
  left: 415px;
  z-index:0;

}

.profilemain h2 {
  font-size: 40px;

}
.profilemain img {
  border-radius: 25px;

}

#test li {
  list-style: none;
  width: 80%;
  text-align: left;
  position: relative;
  left: 415px;



}
#contact li {
  list-style: none;
  width: 80%;
  text-align: left;
  position: relative;
  left: 300px;

}




/*Index html css Ends here*/







/*-----------------------lachlans test CSS starts here------------------------*/



.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/* Navbar container */
.navbar {
  background-color: #333;
  font-family: "Russo One", sans-serif;
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  width: 849px;
  position: relative;
  bottom: 80px;
  left: 90px;
  text-shadow: 3px 3px 3px #07101c;

  border-radius: 25px;

  border-color: #16c2d5;
  border-style: outset;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #16c2d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  text-shadow: 3px 3px 3px #07101c;
}

/* The dropdown container */
.dropdown {
  border-radius: 20px;
  float: left;
  overflow: hidden;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  font-size: 16px;
  border: none;
  background-color: #373F51;
  color: #16c2d5;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a grey background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #808080;
  color: #a5b9d4;
}

/* Dropdown content (hidden by default) */
.dropdown-content-project {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;

}

.dropdown-content-skills {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 136px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content-a2 {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 144px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content-profile {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 133px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}


/* Links inside the dropdown */
.dropdown-content-project a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-skills a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-a2 a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-profile a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}


/* Add a grey background color to dropdown links on hover */
.dropdown-content-project a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-skills a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-a2 a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-profile a:hover {
  background-color: #808080;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-project {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-skills {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-a2 {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-profile {
  display: block;
}

#timeframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 25px;
}

#contentmain {
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  width: 96.65%;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #16c2d5;
  border-width: 10px;
  border-style: solid;
  margin-top:225px;
}

#contentmain li {
  width: 96.65%;
  text-align: center;
  list-style: none;
}

#contentmain h1 {

  font-size: 50px;
  width:800px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

#contentmain h2 {

  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;

}

#contentmain h3 {

  padding-top: 10px;
  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;

}


#contentmain img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 25px;
}

#contact img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#lachlist li{
  text-align: left;
  list-style: disc;

}

/*footer css starts below*/
#footermain {

    color: white;
    text-align: center;
    border-color: #16c2d5;
    border-width: 10px;
    border-style: solid;
    background: #373F51;
    max-height: 220px;

    margin-right: -3px;
    padding: 20px;
    border-top: 5px;

    font-family: Space Grotesk, sans-serif;
}

#footermain a {
  font-size: 25px;
  font-weight: bold;

}

video.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  height: auto;
}

video.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  height: auto;
  border-style: solid;
  border-color: #16c2d5;
  border-radius: 25px;

}

video.app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  height: auto;
  border-top-width: thick;
  border-style: solid;
  border-color: #373F51;
  border-radius: 25px;

}


img.jobadlogo {
  float:right;
  position: relative;
  left: 0px;
  max-width: 200px;
  height: auto;
}
