html {
  background-color: black;
}

#wholepage {
  width: 1080px;
  margin: 0 auto;
  font-family: Space Grotesk, sans-serif;

}

p {
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  width: 96.65%;
  text-align: justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;

}

h1 {
  font-size: 50px;
  width:800px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;
  font-family: "Russo One", sans-serif;
}



h2 {
    width:500px;
    color: #16c2d5;
    margin:0 auto;
    text-align: center;

  }



h3 {
  padding-top: 10px;
  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;

}

h4 {
  width: 100%;
  text-align: center;

}

/*button*/
button {
  background-color: #333;
  border-color: #16c2d5;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Russo One", sans-serif;
  font-size: 1.5rem;

  position: relative;
  top: 60px;
  left: 220px;
  margin: 0 auto;

}

.ebutton {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: none;

}

.ebutton-content {
  width: 600px;
  height: 0 auto;
  background-color: white;
  padding: 15px 20px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 0 auto;
}

.ebutton-content h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  position: relative;
  bottom: 15px;
}

.ebutton-content h2 {
  border-bottom: 3px solid black;
  font-size: 2rem;
  font-weight: bold;
  color: #d10016;
  text-align: center;
}

.closebutton {
  position: relative;
  left: 580px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Button css ends here, index.html Starts below*/
a {
  color: #16c2d5;
  text-decoration: none;
}

a:hover {
  color: #00f06e;
}

a:before {
  content: '';
  display: block;
  background-color: #00f06e;
}

.container {
  width:80%;
  margin: 0x auto;
}


header {
  width: 98.5%;

  text-align: center;
  border-color: #16c2d5;
  border-width: 5px 10px;

  border-style: solid;
  background: #373F51;
  max-height: 220px;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float:right;
  padding: 10px;
  position: relative;
  left: 210px;
}


.content-body {
  text-align: center;
  color: white;
  width: 98.5%;
  background-color: #373F51;
  border: 10px solid;
  border-color: #16c2d5;
}




/*PLANS AND PROGRESS HTML BELOW THIS POINT*/

#test {
  list-style: none;
}

#maintitle h2 {
  text-align: center;
}

#teamprofile {
  border-top: 0px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
}

#individualprofiles {
  border-top: 10px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
}

.profilemain {
  display: inline-block;
  text-align: center;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: #16c2d5;
  padding: 20px 10px;
}


.profilemain p {
  padding: 20px 10px;
  display: flex;
  text-align: justify;
}

.profilemain h3 {
  text-align: center;
}

.profilemain li {
  width: 80%;
  text-align: left;
  position: relative;
  left: 415px;

}





/*Index html css Ends here*/







/*-----------------------lachlans test CSS starts here------------------------*/

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/* Navbar container */
.navbar {
  background-color: #333;
  font-family: "Russo One", sans-serif;
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  width: 849px;
  position: relative;
  bottom: 80px;
  left: 90px;

  border-radius: 25px;

  border-color: #16c2d5;
  border-style: outset;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #16c2d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

/* The dropdown container */
.dropdown {
  border-radius: 20px;
  float: left;
  overflow: hidden;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  font-size: 16px;
  border: none;
  background-color: #373F51;
  color: #16c2d5;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a grey background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #808080;
  color: #224f8a;
}

/* Dropdown content (hidden by default) */
.dropdown-content-project {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;

}

.dropdown-content-skills {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 136px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content-a2 {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 144px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content-profile {
  display: none;
  position: absolute;
  background-color: #333;
  max-width: 133px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}


/* Links inside the dropdown */
.dropdown-content-project a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-skills a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-a2 a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content-profile a {
  float: none;
  color: #16c2d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
  border-radius: 20px;
}


/* Add a grey background color to dropdown links on hover */
.dropdown-content-project a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-skills a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-a2 a:hover {
  background-color: #808080;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-profile a:hover {
  background-color: #808080;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-project {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-skills {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-a2 {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-profile {
  display: block;
}


#contentmain {
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  width: 96.65%;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #16c2d5;
  border-width: 10px;
  border-style: solid;
}


#contentmain h1 {

  font-size: 50px;
  width:800px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

#contentmain h2 {

  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;

}

#contentmain h3 {

  padding-top: 10px;
  width:500px;
  color: #16c2d5;
  margin:0 auto;
  text-align: center;

}


#contentmain img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#contact img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/*footer css starts below*/
#footermain {
    width: 98.5%;
    color: white;
    text-align: center;
    border-color: #16c2d5;
    border-width: 10px;
    border-style: solid;
    background: #373F51;
    max-height: 220px;

    font-family: Space Grotesk, sans-serif;
}
